%h1.capitalize
  = @project.name
  %a{href: settings_project_url(@project.name)} settings
.row-fluid
  .current-milestone.span6
    %ul#issues
      - if @project.current_milestone.nil?
        no current milestone
      - else
        = render partial: 'milestone_title', locals: { milestone: @project.current_milestone }
        - @project.current_milestone.issues.each do |issue|
          .div= render partial: 'projects/issue', locals: { issue: issue }
  .backlog.span6
    .accordion.milestones
      - @project.backlog.each do |number, issues|
        .accordion-group.milestone.js-milestone{'data-number' => number}
          .accordion-heading
          = render partial: 'milestone_title', locals: { milestone: @project.current_milestone }
          .accordion-body.collapse.in{id: "milestone_#{number}"}
            - issues.each do |issue|
              = render partial: 'projects/issue', locals: { issue: issue }
